# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyw text eol=lf
*.pyx text eol=lf

# Django - hide from language stats
*.html text eol=lf linguist-detectable=false
*.css text eol=lf linguist-detectable=false
*.js text eol=lf linguist-detectable=false

# Config files
*.txt text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.env text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.db binary