# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyw text eol=lf
*.pyx text eol=lf

# Config files
*.txt text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.env text eol=lf
*.json text eol=lf

# Hide from GitHub language stats
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.db binary